body{
    background-color: aqua solid;
}


.centre{
    text-align: center;
    color: red;
   font-style:oblique ;
}
.design{
    width: 374px;
    height: 136px;
    border: 7px solid black;
    padding: 12px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    float: inline-end;
    float: left;
    margin-left: 10px;
    background-color: rgb(165, 165, 53);

}
#remain{
    width: 45px;
    height: 25px;
    margin-bottom: 40px;
    background-color: rgb(230, 242, 6);
    border: 4px solid red;
   border-radius: 5px;
   position:top right;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-left: 330px;
   margin-top: 0px;
}
    .CSSdesign{
        width: 374px;
        float: left;
        float: inline-start;
        height: 130px;
        border: 7px solid black;
        padding: 12px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(165, 165, 53);
    }
    #CSSview{
        width: 30px;
        height: 25px;
        margin-bottom:15px ;
        float: center;
        background-color: rgb(230, 242, 6);
        border: 3px solid red;
       border-radius: 5px;
       position:top right;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin-left: 340px;
       margin-top: 0px; 
       float: left;}
       .JAVAdesign{
        
        width: 374px;
        height: 130px;
        float: left;
        float: inline-end;
        border: 7px solid black;
        padding: 12px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(165, 165, 53);}
        #JAVAview{
            width: 64px;
            background-color: rgb(230, 242, 6);
            border: 3px solid red;
           border-radius: 5px;
           position:top right;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           margin-left: 315px;
           margin-top: 0px;
           margin-bottom: 30px;
    
        }
     @media (max-width: 991px) and (min-width:768px){
        .JAVAdesign{
            width: 809px;
        height: 130px;
        float: bottom left;
        float: inline-end;
        border: 7px solid black;
        padding: 12px;
        margin-top: 12px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(165, 165, 53);}
        .CSSdesign{
            width: 374px;
            float: top right;
            float: inline-end;
            height: 130px;
            border: 7px solid black;
            padding: 12px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: rgb(165, 165, 53);
        }
        .design{
            width: 374px;
            height: 136px;
            border: 7px solid black;
            padding: 12px;
            margin-top: 10px;
            margin-right: 10px;
            padding-top: 5px;
            float: inline-start;
            float: top left;
            margin-left: 10px;
            background-color: rgb(165, 165, 53);
        
        }
     }
   
     